developer:
  urls:
    diracx: http://{{ hostname }}:8000
    minio: http://{{ hostname }}:32000
    dex: http://{{ hostname }}:32002
  demoDir: {{ demo_dir }}
  pythonModulesToEditableInstall: {{ python_modules_to_mount }}
  nodeModuleToInstall: {{ node_module_to_mount }}

diracx:
  settings:
    DIRACX_SERVICE_AUTH_ALLOWED_REDIRECTS: '["http://localhost:8000/api/docs/oauth2-redirect", "http://localhost:8000/dashboard/#authentication-callback"]'
    DIRACX_SANDBOX_STORE_BUCKET_NAME: demo-sandboxes
    DIRACX_SANDBOX_STORE_S3_CLIENT_KWARGS: '{"endpoint_url": "http://{{ hostname }}:32000", "aws_access_key_id": "console", "aws_secret_access_key": "console123"}'
    DIRACX_SANDBOX_STORE_AUTO_CREATE_BUCKET: "true"

diracxWeb:
  settings:
    REDIRECT_URI: http://localhost:8000/dashboard/#authentication-callback
    NEXT_PUBLIC_DIRACX_URL: http://{{ hostname }}:8000

minio:
  environment:
    MINIO_BROWSER_REDIRECT_URL: http://{{ hostname }}:32001/

dex:
  config:
    issuer: http://{{ hostname }}:32002

    staticClients:
    - id: d396912e-2f04-439b-8ae7-d8c585a34790
      public: true
      name: 'CLI app'
      redirectURIs:
        - 'http://{{ hostname }}:8000/api/auth/device/complete'
        - http://{{ hostname }}:8000/api/auth/authorize/complete

    staticPasswords:
      - email: "admin@example.com"
        hash: "$2a$10$2b2cU8CPhOTaGrs1HRQuAueS7JTT5ZHsHSzYiFPm1leZck7Mc8T4W"
        username: "admin"
