name: Release Charts

on:
  push:
    branches:
      - master

jobs:
  release:
    # depending on default permission settings for your org (contents being read-only or read-write for workloads), you will have to add permissions
    # see: https://docs.github.com/en/actions/security-guides/automatic-token-authentication#modifying-the-permissions-for-the-github_token
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      # Workaround for https://github.com/helm/chart-releaser-action/issues/228
      # GitHub's immutable releases feature breaks the standard chart-releaser.
      # This builds a patched version that creates releases as drafts first.
      # TODO: Remove once https://github.com/helm/chart-releaser/pull/587 is released
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Build patched chart-releaser
        run: |
          git clone --depth 1 -b fix/immutable-releases https://github.com/chrisburr/chart-releaser.git /tmp/chart-releaser
          cd /tmp/chart-releaser
          go build -o ${{ runner.tool_cache }}/cr/patched/cr ./cr

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          charts_dir: .
          install_dir: ${{ runner.tool_cache }}/cr/patched
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
